---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume">
  <div class="mb-5">
    <a
      class="btn btn-primary"
      href="/Resume-Ali-Azizjahan.pdf"
      target="_blank"
      download
      >Download PDF Version</a
    >
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Software Engineer with 5+ years of industry-proven work experience. I love
    computer science and cutting-edge technologies in general. My biggest
    strengths are my willpower, perseverance and consistency. I believe with
    continuous effort and study, any knowledge is acquirable.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Remote Software Engineer at Fakir Technology Consultants GmbH"
      subtitle="From January 2024 - Sulzbach, Germany"
      desc="Fakir Technology Consultants GmbH is a human-first software consultancy company which focuses on implementing values that make people’s lives easier.\nUtilized the power of JavaScript and TypeScript to help on the growth of a startup project.\nWorked with NX monorepo to make the cooperation of a React frontend and a NestJS backend easier.\nAccompanied an interesting, and fast-growing startup team on a remote-first manner."
    />
    <TimeLineElement
      title="Software Engineer at ParseIT (SPG Austria)"
      subtitle="From July 2022 to December 2023 (1 year 6 months) - Vienna, Austria - Tehran, Iran"
      desc="ParseIT-Consulting Group is the official branch of SPG Austria. It provides software solutions and consulting services to multiple customers and companies across Austria.\nStudied and utilized Elm programming language and Google Cloud Platform services on multiple B2B projects.\nConverted some web applications from React and some other frontend frameworks to Elm, as per the customer’s request.\nDesigned and implemented multiple backend and API services using NodeJS (TypeScript), Prisma (PostgreSQL), ExpressJS and OpenAPI (Swagger)."
    />
    <TimeLineElement
      title="Freelance Remote Software Engineer"
      subtitle="From October 2021 to May 2022 (7 months) - Dubai, UAE"
      desc="Built up noornft.io marketplace and bordo.network from zero (Both projects are currently offline).\nConstructed a Cardano-based NFT marketplace from scratch using JQuery, Bootstrap and Gulp.\nLearned about Web3 and NFTs by launching a generative Polygon-based NFT collection, made with NodeJS."
    />
    <TimeLineElement
      title="Remote Software Engineer at PRAGMIDEA LTD."
      subtitle="From July 2020 to October 2021 (1 year 4 months) - London, UK"
      desc="The company provides software solutions to the most demanding FinTech businesses around the world.\nWorked as the full-stack software engineer on a couple of the busiest FinTech and trading platforms.\nGenerated an average of 60% test code coverage across several applications using Cypress, Jest and React Testing Library.\nCreated a few internal projects using NextJS, Tailwind CSS and NestJS.\nAccompanied the team in refactoring and reducing the bugs across all of our applications by more than 75%.\nDecreased the build size of a few of our applications by around 50%."
    />
    <TimeLineElement
      title="Freelance Software Engineer"
      subtitle="From January 2018 to July 2020 (2 years 6 months) - Tehran, Iran"
      desc="Developed Delta Insta Telegram Bot, Chopen FE, Dextractor, Sixmim, Monaxon, and NajmX Crypto Wallet (currently offline).\nExperienced working with social media APIs.\nGenerated a total of $2K ongoing profit for a small home business by creating a Telegram bot.\nCommitted to the open-source society.\nLearned Javascript, Typescript, ReactJS, NodeJS, NestJS, Tailwind CSS, and other frameworks and libraries by building practical projects."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Master’s Degree in Computer Software Engineering"
      subtitle="October 2021 up until today at Islamic Azad University, Tehran, Iran"
    />
    <TimeLineElement
      title="Bachelor’s Degree in Computer Software Engineering"
      subtitle="January 2018 to July 2020 at Shamsipour Technical and Vocational College, Tehran, Iran"
      desc="Grade: 16.05/20.00"
    />
    <TimeLineElement
      title="Associate’s Degree in Information Technology"
      subtitle="September 2015 to January 2018 at Shamsipour Technical and Vocational College, Tehran, Iran"
      desc="Grade: 17.18/20.00"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a
        href="https://docs.google.com/feeds/download/presentations/Export?id=11zXvG8LhcGnGnd-NtbhYer8pbHzMF3mrQdm-qQwRm6Y&exportFormat=pdf"
        target="_blank">
        The Complete Cyber Security Course - Volume 1 - Hackers Exposed from
        StationX</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/feeds/download/presentations/Export?id=1GPiGe-wF1wxjEpkMoiLzHLEKLPqQ7zghgdMLVNg0T6Y&exportFormat=pdf"
        target="_blank">
        The Complete Cyber Security Course - Volume 2 - Network Security from
        StationX</a
      >
    </li>
    <li>
      <a
        href="https://docs.google.com/feeds/download/presentations/Export?id=17cG0aVCpImo7OXGPPgybaxFbaGoZVSryZTGeJc_b0xA&exportFormat=pdf"
        target="_blank">
        The Complete Cyber Security Course - Volume 3 - Anonymous Browsing from
        StationX</a
      >
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6 mb-10 gap-2">
    <li>JavaScript</li>
    <li>TypeScript</li>
    <li>React</li>
    <li>React Native</li>
    <li>JQuery</li>
    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Bootstrap</li>
    <li>Node.js</li>
    <li>NestJS</li>
    <li>Express.js</li>
    <li>MySQL</li>
    <li>MongoDB</li>
    <li>Cybersecurity</li>
    <li>PostgreSQL</li>
    <li>TypeORM</li>
    <li>Prisma</li>
    <li>Elm</li>
    <li>Git</li>
    <li>REST</li>
    <li>Design Patterns</li>
    <li>SOLID</li>
    <li>Jest</li>
    <li>Mocha</li>
    <li>Docker</li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Languages</div>
  </div>

  <ul class="list-disc md:columns-3 columns-1 mx-6 gap-2">
    <li><b>English</b> <sup>Bilingual</sup></li>
    <li><b>German</b> <sup>Intermediate</sup></li>
    <li><b>Persian</b> <sup>Native</sup></li>
  </ul>
</BaseLayout>
