---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Greetings! 👋</div>
    <div class="text-5xl font-bold">I'm Ali Azizjahan (Kyxey)</div>
    <div class="text-3xl py-3 font-bold">
      Software Engineer and CS Researcher
    </div>
    <div class="py-2">
      <text class="text-lg"
        >I'm a computer and technology enthusiast, with a focus on software
        development. I like to create and build, and most importantly, to learn
        and acquire new knowledge.</text
      >
    </div>
    <div class="mt-8">
      <a
        class="btn btn-secondary"
        href="https://linktr.ee/kyxey"
        target="_blank"
      >
        Let's connect!</a
      >
      <a href="/cv" class="btn btn-accent ml-5">Read My CV</a>
    </div>
  </div>
</BaseLayout>
